{% extends 'master' %} {% block content %}
<h1>All Tasks waiting to be completed</h1>
<div class="container">
    <div class="row">
        {% for task in undertakenTasks %}
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{task.title}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{task.description}}</p>
                    <p id="category"><i> {{task.category}}</i></p>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button disabled>Taken</button>
                    </div> {% if currentUser.username == 'ScrumMaster69' %}
                    <div class="form-group">
                        <form class="deleteForm" action="/tasks/delete" method="POST">
                            {{ csrfField }}
                            <input type="hidden" name="task_id" value={{task.id}}>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                </div>

            </div>

        </div>
        {% endfor %} {% for task in notUndertakenTasks %}
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{task.title}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{task.description}}</p>
                    <p id="category"><i> {{task.category}}</i></p>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <form class="takeForm"  action="/tasks/take" method="POST">
                            {{ csrfField }}
                            <input type="hidden" name="task_id" value={{task.id}}>
                            <button type="submit" class="btn btn-success">Take</button>
                        </form>
                    </div>
                    {% if currentUser.username == 'ScrumMaster69' %}
                    <div class="form-group">
                        <form class="deleteForm" action="/tasks/delete" method="POST">
                            {{ csrfField }}
                            <input type="hidden" name="task_id" value={{task.id}}>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
<div class="modal fade confirm-modal" tabindex="-1" role="dialog" id="deleteConfirmModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Are you sure, mate?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">No</button>
        </div>
        </div>
    </div>
</div>
<div class="modal fade confirm-modal" tabindex="-1" role="dialog" id="takeConfirmModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Are you sure, mate?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">No</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/scripts/colorCodeTasks.js"></script>
<script src="/scripts/deleteTaskAjax.js"></script>
<script src="/scripts/takeTaskAjax.js"></script>
{% endblock %}